@media(max-width:1500px){
    #a-6{
        display: none;
    }
}
@media(max-width:1300px){
    #a-5{
        display: none;
    }
}
@media(max-width:1150px){
    #a-4{
        display: none;
    }
    #bottom-a-5{
        display: none;
    }
}
@media(max-width:1030px){
    .input{
        display: none;
    }
    .head-div{
        justify-content: center;
    }
    .head-div-left{
        flex:0 0 30%;
    }
    .head-div-right{
        flex:0 0 50%;
    }
}
@media(max-width:950px){
    .bottom-div-nav{
        display: block;
    }
    .main-sec-div-mid{
        display: none;
    }
    .main-sec-div-top{
        grid-column: 1/-1;
    }
    .bottom-div a{
        flex-direction: row;
        align-items: center;
    }
    .text-box{
        margin-left:20vw;
        display: flex;
        flex-direction: column;
        font-size: 0.91rem;
    }
    #a-6,#a-5,#bottom-a-5{
        display: flex;
    }
    .main-sec-box{
        width:95%;
    }
    .click-box{
        display: none;
    }
    
}
